/*=========== about_area css ===========*/
.about_area{
    overflow: hidden;
}
.about_content{
    padding-right: 88px;
    h2{
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
    }
    h6{
        color: #999;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    p{
        padding-bottom: 30px;
    }
    .theme_btn{
        & + .theme_btn{
            margin-left: 15px;
        }
    }
}
.about_img{
    img{
        margin-left: -50px;
    }
}


.work_area{
    background: #fafafa;
    padding: 110px 0px 90px;
}
.work_item{
    text-align: center;
    border: 1px solid #f3f1f1;
    background: #fff;
    padding: 40px 25px 30px;
    margin-bottom: 30px;
    transition: all 0.3s linear;
    cursor: pointer;
    i{
        border: 1px solid #8a8a8a;
        border-radius: 50%;
        color: #8a8a8a;
        font-size: 32px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 20px;
        width: 80px;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        display: inline-block;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    &:hover{
        box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    }
}


/*================= about_area_two css ==============*/
.about_area_two{
    padding: 120px 0px;
}
.n_section_title{
    margin-bottom: 60px;
    .top_border{
        height: 40px;
        width: 1px;
        background: #cccccc;
        margin: 0 auto;
        display: block;
    }
    h6{
        font-size: 14px;
        color: #ff214f;
        margin: 30px 0px 10px;
    }
    h2{
        font: 300 32px/40px $mon;
        color: #232323;
        span{
            font-weight: 500;
        }
    }
}
.about_item{
    padding-left: 55px;
    position: relative;
    i{
        font-size: 26px;
        position: absolute;
        left: 0;
        top: 5px;
    }
    h3{
        font: 600 14px/24px $mon;
        text-transform: uppercase;
        color: #040c2c;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0px;
    }
}

.promo_section{
    .padding{
        padding: 0px;
        
    }
    .promo_box_one{
        background: #000;
        padding: 0px 60px;
        .content{
            position: relative;
            i{
                font-size: 80px;
                transform: rotate(180deg);
                color: #fff;
                position: absolute;
                top: 0;
                left: -18px;
                color: #ff214f;
            }
            p{
                font: 600 28px/36px $mon;
                color: #fff;
                padding-top: 80px;
                margin-bottom: 0px;
            }
        }
    }
    .promo_video{
        position: relative;
        z-index: 1;
        text-align: center;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 0;
        }
        img{
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .video_btn{
            position: absolute;
            top: 50%;
            font-size: 22px;
            line-height: normal;
            font-family: $mon;
            font-weight: 600;
            color: #fff;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            i{
                padding-right: 10px;
            }
        }
    }
    .promo_skill{
        background: #f7f7f7;
        padding: 40px 60px;
        h3{
            font-weight: 600;
            font-size: 28px;
            line-height: normal;
            color: #040c2c;
            margin-bottom: 25px;
        }
        .progress_bar_info{
            width: 100%;
            .progress{
                height: 8px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background: #d0dae3;
                overflow: visible;
                margin-bottom: 20px;
                position: relative;
                .progress-bar{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background: #F24259;
                    width: 10%;
                    border-radius: 10px;
                    transition: all 2s;
                }
                .count-tip{
                    position: absolute;
                    top: -46px;
                    right: 0;
                    color: #797979;
                    font-size: 14px;
                }
            }
        }
    }
}