/*=============== blog_area css =============*/
.blog_area{
    background: #fafafa;
    padding: 120px 0px;
}
.bg_w{
    background: #fff;
}
.blog_post{
    cursor: pointer;
    transition: all 0.3s linear;
    .blog_img{
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        .post_date{
            position: absolute;
            width: 55px;
            height: 60px;
            font: 700 18px $mon;
            color: #494949;
            border-radius: 3px;
            background: rgba(255, 255, 255, 0.95);
            text-align: center;
            top: 20px;
            right: 20px;
            padding-top: 8px;
            transition: all 0.3s linear;
        }
    }
    .post_content{
        padding: 25px;
        background: #fff;
        border: 1px solid #ebebeb;
        border-top: 0px;
        .blog-meta{
            span{
                font: 500 15px/15px $mon; 
                color: #494949;
                display: inline-block;
                padding-right: 5px;
                i{
                    padding-right: 5px;
                }
                a{
                    
                    color: #494949;
                }
                & + span{
                    border-left: 1px solid #494949;
                    padding-left: 12px;
                }
            }
        }
        h2{
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
            color: #494949;
            padding: 10px 0px 8px;
        }
        .read_btn{
            font-size: 14px;
            font-family: $mon;
            font-weight: 600;
            color: #797979;
            transition: color 0.3s linear;
            &:hover{
                color: #494949;
            }
        }
    }
    &:hover{
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
        .post_date{
            background: #040c2c;
            color: #fff;
        }
    }
}