/*============ theme_btn css =========*/
.theme_btn{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: $mon;
    background: #393939;
    padding: 10px 42px;
    border-radius: 3px;
    position: relative;
    transform: translateZ(0);
    border: 0px;
    z-index: 1;
    transition-duration: 0.3s;
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
    text-align: center;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        border-radius: 3px;
        background: #040c2c;
        transform-origin: 50%;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    &:hover{
        color: #fff;
        &:before{
            transform: scaleX(1);
        }
    }
}