/*============ contact-area css ===============*/
.contact-area{
    padding: 120px 0px;
    h4{
        font:600 35px/40px $mon;
        color: #040c2c;
        text-transform: capitalize;
        padding-bottom: 24px;
    }
    .input_form{
        form{
            .form-control{
                font: 400 14px/24px $lora;
                color: #494949;
                box-shadow: none;
                border: 1px solid #ededed;
                border-radius: 0px;
                padding-left: 20px;
                text-transform: capitalize;
                min-height: 44px;
                margin-bottom: 30px;
                @include placeholder{
                    color: #797979;;
                }
                &.error{
                    margin-bottom: 0px;
                    & + .error{
                        font:400 10px/30px $mon;
                        color: #494949;
                        background: none;
                        border: 0px;
                        margin-bottom: 0px;
                        display: block;
                    }
                }
            }
            textarea{
                &.form-control{
                    resize: none;
                    height: 142px;
                    padding-top: 12px;
                }
            }
            .send_btn{
                font-size: 16px;
                background: #494949;;
                border-radius: 0px;
                color: #fff;
                padding: 14px 38px 14px 42px;
                font-family: $mon;
                font-weight: 500;
            }
        }
         #success,#error{
            position: absolute;
            top: -15px;
            display: block;
            right: 0;
            left: 0;
            bottom: -15px;
            background: rgba(0,0,0,0.5);
            display: none;
            p{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin: 0;
            }
        }
        #success{
            color: lawngreen;
        }
        #error{
            color: orangered;
        }
    }
    .contact_info{
        padding-left: 50px;
        ul{
            display: block;
            .item{
                cursor: pointer;
                display: block;
                .media{
                    i{
                        color: #494949;
                        line-height: 28px;
                        text-align: center;
                        font-size: 18px;
                        padding-right: 10px;
                    }
                    .media-body{
                        vertical-align: middle;
                        a{
                            color: #797979;
                            font: 400 16px/28px $mon;
                        }
                    }
                }
                & + .item{
                    padding-top: 15px;
                }
            }
        }
    }
}


/*============contact map=============*/
.contact_map{
    position: relative;
    #mapBox{
        height: 500px;
    }
}