/*========= Start footer area css ========*/
.footer-area{
    background: #040c2c;
    position: relative;
    padding: 60px 0px 60px;
    .footer-content{
        text-align: center;
        .logo{
            display: inline-block;
            margin-bottom: 30px;
            img{
                max-width: 100%;
            }
        }
        ul{
            li{
                display: inline-block;
                padding: 0px 5px;
                a{
                    width: 35px;
                    height: 35px;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 12px;
                    line-height: 35px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all 0.3s linear;
                    &:hover{
                        background: #fff;
                        color: #494949;
                    }
                }
            }
        }
        h6{
            font:400 14px/20px $lora;
            color: #999;
            padding-top: 15px;
            a{
                color:#fff;
            }
        }
        p{
            font: 400 10px/18px $mon;
            color: #fff;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
    }
}
/*========= End footer area css ========*/