/*=========== clients_logo_area css ============*/
.clients_logo_area{
    padding: 120px 0px;
}
.clients_slider{
    text-align: center;
    .item{
        a{
            display: block;
            text-align: center;
        }
        img{
            max-height: 100px;
            width: auto;
            opacity: 0.7;
            transition: all 0.3s linear;
            display: inline-block;
        }
        &:hover{
            img{
                opacity: 1;
                transform: scale(1.02);
            }
        }
    }
}