.list_style{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    &:hover,&:focus{
        text-decoration:none;
        outline: none;
        box-shadow: none;
    }
}
.row.m0{
    padding: 0px;
    margin: 0px;
}
body{
    line-height: 30px;
    font-size: 16px;
    font-family: $open;
    color: #797979;
}
h1, h2,h3,h4,h5,h6{
    font-family: $mon;
}
.mt_40{
    margin-top: 40px;
}
.mt_70{
    margin-top: 70px;
}
.mt_80{
    margin-top: 80px;
}
.mb_70{
    margin-bottom: 70px
}
.mb_60{
    margin-bottom: 60px
}
.mb_80{
    margin-bottom: 80px
}

.t_color{
    color: #040c2c;
}

.container{
    @media(max-width:767px){
        max-width: 100%;
    }
}

.row_reverse{
    flex-direction: row-reverse;
}

.section_title{
    
}
.bottom_line{
    width: 80px;
    height: 2px;
    margin: 25px auto 0px;
    display: inline-block;
    background: #bcbcbc;
}
.title_h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
.title_p{
    font: 400 16px/26px "Lora", serif;
    font-style: italic;
    margin-bottom: 0px
}
/* Main title css
============================================================================================ */

