/*font Variables*/
$open: 'Open Sans', sans-serif;
$mon: 'Montserrat', sans-serif;
$lora:  'Lora', serif;




// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.col-md-offset-right-1 {
    margin-right: 8.33333333%;
}
// Font family link
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans|Lora:400i');
