/*========== banner_area css =========*/

.banner_area{
    min-height: 100vh;
    background: url("./x/snow.jpg") no-repeat scroll center 0 /cover;
    position: relative;
    z-index: 1;
    text-align: center;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("./x/snow.jpg") no-repeat scroll center 0/ cover;
        z-index: -1;
    }
    display: flex;
    align-items: center;
}
.banner_content{
    color: #fff;
    h5{
        font-size: 20px;
        margin: 0;
        font-weight: 400;
        margin-bottom: 32px;
        letter-spacing: 1px;
    }
    h2{
        margin: 10px 0px;
        font-size: 55px;
        font-weight: 700;
    }
    h4{
        font-size: 24px;
        text-transform: capitalize;
        letter-spacing: 3px;
        padding: 10px 0px 30px;
    }
    .social_icon{
        li{
            display: inline-block;
            margin: 0px 3px;
            a{
                font-size: 14px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.3);
                display: inline-block;
                color: #fff;
                transition: all 0.3s linear;
                &:hover{
                    background: #fff;
                    color: #040c2c;
                }
            }
        }
    }
}

/*========== banner_area css =========*/